mat-form-field {
  width: 60%;
}

mat-dialog-content {
  padding: 50px;
}

.mat-dialog-actions {
  margin-top: 20px;
}

#user-image {
  width: 100px;
  height: 100px;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
